@{
    Layout = null;
}
@model WebApplication1.ViewModels.ProductViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    
        @using (Html.BeginForm("Create", "Product"))
        {
            <table cellpadding="2" cellspacing="2" border="1">
                <tr>
                    <td>@Html.LabelFor(model => model.product.City)</td>
                    <td>@Html.TextBoxFor(model => model.product.City)</td>
                    <td>@Html.LabelFor(model => model.product.State)</td>
                    <td>@Html.TextBoxFor(model => model.product.State)</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="save" /></td>
                </tr>
             </table>
        }
</body>
</html>
